---
pageable: true
per_page: 6
cover: cover.jpg
cover_license: '[Cover Image](https://unsplash.com/photos/2ShvY8Lf6l0) by [Lukasz Szmigiel](https://unsplash.com/szmigieldesign), [CC Zero 1.0](https://unsplash.com/license)'
---

%header.main-header.author-head{cover}
  %nav.main-nav.overlay.clearfix
    %a.home-button.icon-angle-left{href: home_path}
      %span.word Home
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu

%section.author-profile.inner
  - if gravatar?
    %figure.author-image
      .img{style: "background-image: url(#{gravatar(author, size: 114)}); background-image: image-set(url(#{gravatar(author, size: 114)}) 1x, url(#{gravatar(author, size: 114*2)}) 2x, url(#{gravatar(author, size: 114*3)}) 3x); background-image: -webkit-image-set(url(#{gravatar(author, size: 114)}) 1x, url(#{gravatar(author, size: 114*2)}) 2x, url(#{gravatar(author, size: 114*3)}) 3x);"}
        %span.hidden #{blog_author(author).name}'s Picture
  %h1.author-title= blog_author(author).name
  .author-bio= partial("author/#{author.parameterize}")
  .author-meta
    - if blog_author(author).location.present?
      %span.author-location.icon-location= blog_author(author).location
    = partial(:profile_links, locals: {author: author})
    - if blog_author(author).website.present?
      %span.author-link.icon-link
        %a{href: blog_author.website}= blog_author(author).website.sub(%r{^https?://}, '')
    %span.author-stats
      %i.icon-stats
      =# TODO: articles per author
      = pluralize(locals['articles'].count, 'post')

%main#content.content{role: :main}
  =# TODO: articles per author
  = partial(:page_articles,
            locals: { page_articles: page_articles, paginate: paginate })
