---
pageable: true
cover: cover.jpg
cover_license: '[Cover Image](https://unsplash.com/photos/2ShvY8Lf6l0) by [Lukasz Szmigiel](https://unsplash.com/szmigieldesign), [CC Zero 1.0](https://unsplash.com/license)'
---

%header.main-header{cover}
  %nav.main-nav.overlay.clearfix
    - if page_class == 'paged'
      %a.home-button.icon-angle-left{href: home_path}
        %span.word Home
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    .main-header-content.inner
      %h1.page-title= blog_settings.name
      %h2.page-description= blog_settings.description
      - unless page_class == 'paged'
        %section.byline
          %span= "by #{link_to blog_author.name, author_path}"
          = partial(:profile_links, locals: {author: blog_author.name})

  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '45'}}
    %span.hidden Scroll Down

%main#content.content{role: :main}
  = partial(:page_articles,
            locals: { page_articles: page_articles, paginate: paginate })
